
body {
    margin: auto;
    width: 80%;
    background-color: #d3d3d3;
    text-align: center;
}

.title {
    color: #333;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
}

.form {
    display: flex;
    justify-content: center;
}

select, button {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.info {
    margin: auto;
    width: 60%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

.joke {
    color: #333;
    font-weight: 200;
    text-align: center;
}


.error {
    color: #FF0000;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: center;
}